qa automation_n8n_workflow.json
{
  "name": "QA & HR Automation Workflow",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        }
      },
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "sheetId": "GOOGLE_SHEET_ID",
        "range": "Sheet1!A:F"
      },
      "name": "Read Bug Tracker",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json['Status']}}",
              "operation": "notEqual",
              "value2": "Resolved"
            }
          ]
        }
      },
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "qa-team@company.com",
        "toEmail": "developer@company.com",
        "subject": "Pending Bug Reminder",
        "text": "Bug {{$json['Bug_ID']}} is still unresolved. Please review the issue."
      },
      "name": "Send Developer Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        800,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "TELEGRAM_CHAT_ID",
        "text": "QA Alert: Bug {{$json['Bug_ID']}} is still pending."
      },
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        800,
        400
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "GOOGLE_SHEET_ID",
        "range": "Logs!A:C"
      },
      "name": "Update Logs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ]
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Read Bug Tracker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Bug Tracker": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Send Developer Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Developer Email": {
      "main": [
        [
          {
            "node": "Update Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Alert": {
      "main": [
        [
          {
            "node": "Update Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}